<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">
  <div class="container">
    <%= link_to "Rodauth Demo", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-nav">
      <ul class="navbar-nav">
        <li class="nav-item <%= "active" if controller.is_a?(HomeController) %>">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= "active" if controller.is_a?(PostsController) %>">
          <%= link_to "Posts", posts_path, class: "nav-link" %>
        </li>
        <% if rodauth.logged_in? %>
          <li class="nav-item <%= "active" unless current_page?(rodauth.oauth_applications_path) %>">
            <%= link_to "Client Applications", rodauth.oauth_applications_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if rodauth.logged_in? %>
      <div class="dropdown">
        <%= link_to current_account.profile.name, "#", class: "btn btn-info dropdown-toggle", data: { toggle: "dropdown" } %>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Change password", rodauth.change_password_path, class: "dropdown-item" %>
          <%= link_to "Change email", rodauth.change_login_path, class: "dropdown-item" %>
          <%= link_to "Remember settings", rodauth.remember_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Close account", rodauth.close_account_path, class: "dropdown-item text-danger" %>
          <%= link_to "Sign out", rodauth.logout_path, method: :post, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div>
        <%= link_to "Sign in", rodauth.login_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign up", rodauth.create_account_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</nav>
